# Next.js Environment Variables
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
ADMIN_PIN="1234"

# Gmail SMTP configuration for contact form
EMAIL_USER="mfalfi02@gmail.com"
EMAIL_PASS="nqkn bdlz djcu srmr"
EMAIL_TO="mfalfi02@gmail.com"
